# Assignment_1

**Q1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**
- *
- 'hello'
- 87.8
- +
- / 
- 6 


Answer: The elements like *,-,/,+ are expressions and 'hello',-87.8,6 are considered as values

**Q2. What is the difference between string and variable?**

Answer: A variable is the one where values can be stored (in a memory location) and string is a datatype and variables can be of string type. eg: In the code below, 'a' is a variable which stores a string type value in it.

In [1]:
a='hello'
print(id(a),type(a))

1472326935728 <class 'str'>

**Q3. Describe three different data types.**

Answer: Data type simply means the type of value that is stored in a variable eg. integer, float, string, etc

In [2]:
#1 int refers to numeric value only like 5,-21 not having decimal point
a=-23
print(type(a))

<class 'int'>

In [3]:
#2 float refers to a number having floating point value like 4.2,5.77,-34.33
b=-35.346
print(type(b))

<class 'float'>

In [5]:
#3 string refers to a sequence of characters that can have alphabets as well as numbers and is written in '' or ""
c='abc@123'
print(type(c))

<class 'str'>

**Q4. What is an expression made up of? What do all expressions do?**

Answer: An expression in mathematics is something like a = 3 + 4 * 5, similarly this expression is written in programming languages to calculate a particular value and evaluate results accordingly. An expression comprises of variables, operators, values, etc.

In [6]:
348+23/3*0

348.0

**Q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

Answer: A statement is a unit of code that has an effect, like creating a variable or displaying a value.When we type a statement, the interpreter executes it, which means that it does whatever the statement says. In general, statements donâ€™t have values.

In [7]:
#Example:
42*14+0-28 # Is a Expression
courseName = 'FSDS 2.0' # Is a Statement
print("Hello World !") # Is a Expression Statement

Hello World !

**Q6. After running the following code, what does the variable bacon contain?**

bacon = 22

bacon + 1

Answer: It contains 22 only, as the 2nd expression is not stored again it bacon, it only displays 23 inline

In [8]:
#Example
bacon=22
bacon+1

23

In [9]:
print(bacon)

22

In [10]:
#if we want to increment bacon by 1 then we should write
bacon = bacon + 1
bacon

23

**Q7. What should the values of the following two terms be?**

'spam' + 'spamspam'

'spam'*3

Answer: Both the expressions give the result as 'spamspamspam', but the main difference between them is that, first expression shows 'String Concatenation' whereas the second is 'String Multiplication'

In [12]:
print('spam'+'spamspam')
print('spam'*3)

spamspamspam
spamspamspam

**Q8. Why is eggs a valid variable name while 100 is invalid?**

Answer:As per python naming convention in python, variable names cannot begin with a number. The python rules for naming a variable are :-

Variable name must start with a letter or the underscore character;
Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ );
Variable names are case-sensitive (yash, YASH and Yash are three different variables);
The reserved words(keywords) cannot be used naming the variable.

In [13]:
egg='Something' # Valid variable Initilization
100='hello' # Invalid Variable Initilization
print(egg) #prints the value of egg ie Ineuron
print(100) # Raises a Syntax Error as 100 is not a valid variable name

SyntaxError: cannot assign to literal (Temp/ipykernel_3272/204842674.py, line 2)

**Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?**

Answer: We can use inbuilt functions like int(),float() and str() for appropriate type conversion

In [15]:
print('int(10.0) -> ',int(10.0)) # int() function converts given input to int
print('float(10) -> ',float(10)) # float() function converts given input to float
print('str(10) -> ',str(10)) # str() function converts given input to string

int(10.0) ->  10
float(10) ->  10.0
str(10) ->  10

**Q10. Why does this expression cause an error? How can you fix it?**

'I have eaten ' + 99 + 'burritos.'

Answer: Here the term 99 is written in integer form and so will give a typeError and has to be converted to string, with the help of str() function

In [17]:
print('I have eaten '+str(99)+' burritos')

I have eaten 99 burritos